<div class="col-md-12 mx-auto mt-5">
    <div class="card">
        <div class="card-header">
            <h1>Para acceder a esta función inicie sesión utilizando: </h1>
        </div>
        <div class="card-body">
            <a style="
                color: #fff;
                font-size: 18px;
                padding: 10px;
                background: #ff5353" 
                href="/auth/google">Google+</a>
        </div>
    </div>
</div>   