<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt fugit laborum aut molestiae. Hic quae optio nam veritatis nesciunt commodi nulla quidem. Porro omnis obcaecati officiis corporis error mollitia debitis harum possimus autem iure, distinctio illum eaque, voluptates voluptatem ratione.</p>
    </div>
</div>