<div class="row">
    {{#each notes}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justified-content-between align-items-center">
                    {{ title }} <a href="#"><i class="fas fa-edit"></i></a>
                </h4>
                <p>
                    {{ description }}
                </p>
                <p>
                    {{ categoria }}
                </p>
                <button class="btn btn-danger btn-block btn-sm">Delete</button>
            </div>
        </div>
    </div>
    {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <p class="lead">
                    There are not notes yet.
                </p>
                <a href="/recetas/add" class="btn btn-success btn-block">Create one!</a>
            </div>
        </div>
    {{/each}}
    1:37:27
</div>