{{#each resultado}}
<div class="card">
    <div class="row tarjeta">
        <div class="col-lg-10 col-md-10 col-xl-10">
            <h4>{{title}}</h4>
            <p>{{descripcion}}</p>
        </div>
        <div class="botones col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <a href="/recetas/ver/{{_id}}" class="btn btn-success btn-lg">Ver</a>
        </div>
    </div>
</div>
<br>
{{else}}
<div class="row">
    <div class="card mx-auto">
        <div class="card-body">
            <p class="lead">
                No has escrito recetas aún.
            </p>
            <a href="/recetas/new" class="btn btn-success btn-block">Escribe una!</a>
        </div>
    </div>
</div>
{{/each}}

{{#if resultado}}
<div class="botones row">
    <a class="col-sm-12 col-md-12 col-xs-12 btn btn-info" href="/recetas/new">Escribir una Receta!</a>
</div>
{{/if}}