body {
    background-image: url('/iconos/fondo.png');
    overflow-x: hidden;
}

#suggestions {
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    height: auto;
    position: absolute;
    top: 45px;
    z-index: 9999;
    width: 206px;
}
 
#suggestions .suggest-element {
    background-color: #EEEEEE;
    border-top: 1px solid #d6d4d4;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    float: left;
}

.contenedorIng {
    height: 150px;
    overflow-y: scroll;
}

.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .zoom:hover {
      
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .zoomStar {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .zoomStar:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .starSelected{
    transition: transform .2s; /* Animation */
    margin: 0 auto;
    transform: scale(1.5);
  }
  .starSelected:hover {
    transform: scale(1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .starSelectedPrev{
    transition: transform .2s; /* Animation */
    margin: 0 auto;
    transform: scale(1.5);
  }

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    text-align: center;
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.img-circular {
    border-radius: 50%
}

.img-centrada {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-completa {
    width: 100%;
    height: 200px;
}

.txt-centrado {
    text-align: center;
}

.txt-categoria {
    background-color: #E9E4F0;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

#navbarSupportedContent {
    height: 51.5px;
}

.checkbox {

    background-color: #dee2e6 !important;
}

.tarjeta {
    text-align: center;
    padding: 10px;
}

.botones {
    padding: 10px;
    margin: auto;
}

.foto-plato {
    width: 100%;
    height: 100%;
}

.all-receta {
    padding: 10px;
    margin: auto;
    text-align: center;
}

.titulo {
    color: white;
}

.banner {
    height: 300px !important;
}

hr {
    width: 75%;
}

.hidden{
    display:none;
}

.estrella{
    color: orange;
}