<!-- pagina html principal (es el marco de todas las paginas del sistema)-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark"> <!-- aca se elige el color --> <!-- Barra superior -->
        <a href="#" class="navbar-brand">Food Choise</a>  <!-- titulo  a la izquierda -->
        <div class="container">     <!-- opcional se puede borrar -->
            <ul class="navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link">Item1</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Item1</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Item1</a></li>
            </ul>
        </div>
        <div class="container"> <!-- Busqueda (provisorio) -->
            <form class="form-inline my-2 my-lg-0">
                <input type="text" class="form-control mr-sm-2">
                <button class="btn btn-success my-2 my-sm-0" type="button">Buscar</button>
            </form>
        </div>
    </nav>

    <div class="container row" >
        <nav class="navbar bg-danger navbar-dark col-md-4"> <!-- Barra lateral --> <!-- aca se elige el color -->
            <ul class="navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link">Item1</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Item1</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Item1</a></li>
            </ul>
        </nav>
        <aside class="col-md-8">    <!-- Muro -->
            <p>lalslas</p>
        </aside>
    </div>

    {{{body}}} <!-- Aqui es donde otros handlebars/html son introducidos -->


</body>
</html>