<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!--JQUERY  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--bootstrap 4  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--link al css  -->
    <link rel="stylesheet" href="../css/main.css">
    <!--link para iconos  -->
    <script src="https://kit.fontawesome.com/3b3b828bf0.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="../js/main.js"></script>
    <title>Food Choice</title>
</head>

<body>
    


<div class="d-flex" id="wrapper">

    <!-- Barra lateral -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Food Choice </div>
        <div class="list-group list-group-flush">
            <a href="/" class="list-group-item list-group-item-action bg-light">
                <!--<img src="iconos/home-3x.png">-->
                <i class="fas fa-home"></i>
                Inicio
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-light">
                <!--<img src="iconos/list-rich-3x.png">-->
                <i class="fas fa-list"></i>
                Categorías
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-light disabled">Mi cuenta</a>
            <a href="/profile" class="list-group-item list-group-item-action bg-light">
                <!--<img src="iconos/person-3x.png">-->
                <i class="far fa-user"></i>
                Ir al perfil
            </a>
            <a href="/recetas/mis-recetas" class="list-group-item list-group-item-action bg-light">
                <!--<img src="iconos/book-3x.png">-->
                <i class="fas fa-list"></i>
                Mis recetas
            </a>
            <a href="/recetas/new" class="list-group-item list-group-item-action bg-light">
                <!--<img src="iconos/plus-3x.png">-->
                <i class="fas fa-plus"></i>
                Agregar Receta
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-light">
                <!--<img src="iconos/star-3x.png">-->
                <i class="far fa-heart"></i>
                Favoritos
            </a>
            {{#if user}}
            <a href="/auth/logout" class="list-group-item list-group-item-action bg-light">
                <!--<img src="iconos/power-standby-3x.png">-->
                <i class="fas fa-sign-out-alt"></i>
                Cerrar sesión
            </a>
            {{else}}
            <a href="/auth/login" class="list-group-item list-group-item-action bg-light">
                <!--<img src="iconos/power-standby-3x.png">-->
                <i class="fas fa-sign-in-alt"></i>
                Iniciar sesión
            </a>
            {{/if}}
        </div>
    </div>
    <!-- /#Barra lateral -->

    <!-- Contenido de la página -->
    <div id="page-content-wrapper">

        <!-- Barra superior -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Ocultar menú</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--#Barra superior-->

        <div class="container">
            <div class="col-md-12">
                <main>
                    {{> errors }}  <!-- El main recorre en busaca de errores en caso de que los haya-->
                    {{> userlog }}
                    {{{ body }}}
                </main>
            </div>
        </div>
        </div>
    </div>
  <!-- /#Contenido de la página -->


    <!-- Ocultar menú Script -->
    <script>
        $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

</html>