<div class="container">
    <form action="/users/signin" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" name="email" id="" placeholder="Ingrese su Gmail" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" id="" placeholder="Ingrese su Contraseña" required >
        </div>
        <button type="submit">Ingresar</button>
    </form>
</div>